<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{media.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="media.type == 'YouTube'">
      <youtube-player 
        [videoId]="media.url" 
        [playerVars]="playerVars"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
      >
      </youtube-player>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>

<img class="mediaThumbnail" src="{{media.thumbnail}}" (click)="open(content)" *ngIf="media.userCanRead"/>
<img class="mediaThumbnail mediaDisabled" src="{{media.thumbnail}}" *ngIf="!media.userCanRead"/>